body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-image: url(http://lol-stats.net/uploads/FpuvHt29W2bG6KPWKQ5ybcEW63BfFf2dIWIfbwjq.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.news {
    font-size: 30px;
    padding-top: 50px;

}

.validation {
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 10px;
    padding-top: 10px;
}

#error-message {
    color: red;
    font-size: 12px;
    font-weight: 700;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 25px auto;
}
